html {
  font-size: 62.5%;
}

:root {
  --main-color: #6200ee;
  --secondary-color: #c39ef8;
  --default-color: #fff;
}

.inputWrapper {
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}

.input {
  position: absolute;
  left: -9999rem;
  top: -99999rem;
}

.slider {
  display: flex;
  cursor: pointer;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #c6c6c6;
  position: relative;
  transition: background-color 0.2s;
}

.slider::before {
  content: '';
  position: absolute;
  top: -0.24rem;
  left: -0.2rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 4.5rem;
  transition: 0.2s;
  background-color: var(--default-color);
  box-shadow: 0 0.2rem 0.4rem 0 rgb(63, 63, 63);
}

/* changes the width of the slider after clicking on it */
.slider:active:before {
  width: 2.4rem;
}

/* slider changes color when toggled state is true */
.slider-checked {
  background-color: var(--secondary-color);
}

/* slides to the left when toggled state is true */
input:checked + .slider:before {
  left: 1.8rem;
  background-color: var(--main-color);
}
