html {
  font-size: 62.5%;
}

:root {
  --main-color: #6200ee;
  --secondary-color: #c39ef8;
  --default-color: #fff;
}

.inputWrapper {
  position: relative;
  top: 1rem;
  left: 1rem;
}

.slider {
  display: flex;
  cursor: pointer;
  width: 13rem;
  height: 5.53rem;
  border-radius: 2.58rem;
  background-color: #c6c6c6;
  position: relative;
  transition: background-color 0.2s;
}

.slider::before {
  content: '';
  position: absolute;
  top: -1.1rem;
  left: -0.96rem;
  width: 8rem;
  height: 8rem;
  border-radius: 11.07rem;
  transition: 0.2s;
  background-color: var(--default-color);
  box-shadow: 0rem 0.07rem 0.5rem 0.15rem rgba(88, 88, 88, 0.5);
}

/* slider changes color when toggled state is true */
.slider-checked {
  background-color: var(--secondary-color);
}

/* slides to the left when toggled state is true */
input:checked + .slider:before {
  left: 5.95rem;
  background-color: var(--main-color);
}
