html {
  font-size: 62.5%;
}

:root {
  --main-color: #6200ee;
  --secondary-color: #c39ef8;
  --default-color: #fff;
}

.inputWrapper {
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}

.slider {
  display: flex;
  cursor: pointer;
  width: 10.5rem;
  height: 4.5rem;
  border-radius: 2.1rem;
  background-color: #c6c6c6;
  position: relative;
  transition: background-color 0.2s;
}

.slider::before {
  content: '';
  position: absolute;
  /* --"transition" no longer works if this is on and to and left are omitted*/
  /* transform: translateY(-12%); */
  top: -0.9rem;
  left: -0.40rem;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 9rem;
  transition: 0.2s;
  background-color: var(--default-color);
  box-shadow: 0rem 0.07rem 0.5rem 0.15rem rgba(88, 88, 88, 0.5);
}

/* slider changes color when toggled state is true */
.slider-checked {
  background-color: var(--secondary-color);
}

/* slides to the left when toggled state is true */
input:checked + .slider:before {
  left: 4.7rem;
  background-color: var(--main-color);
}
